body {
	background-color: #f7fffa;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23e1f7fa' fill-opacity='0.59' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
	/* padding: 0;
	margin: 0; */
}

/* make navbar fixed */
/* nav{
	position: fixed;
	top: 0
} */

.nav-wrapper {
	padding: 0 2rem;
	font-weight: 500;
	/* position: fixed; 
	overflow: hidden; */
}

.brand-logo{
	font-style: italic;
	font-weight: bold;
}

.surveyForm{
	margin-top: 5vh
}

label.labelText{
	font-size: 1.7rem;
	font-weight: bold;
	/* color: #050b17; */
}

input.surveyFormInput{
	margin-bottom: 5px;
    margin-top: 20px;
}

input.surveyFormInput:focus {
  background-color: lightblue;
}

p.reviewText{
	word-wrap: break-word;
}

span.card-title{
	font-weight: 700;
    font-style: italic;
    font-family: ui-sans-serif;
}