html,
body {
  height: 100%;
  margin: 0;
}

body {
	background-color: #f7fffa;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23e1f7fa' fill-opacity='0.59' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
	/* padding: 0;
	margin: 0; */
}

/* make navbar fixed */
/* nav{
	position: fixed;
	top: 0
} */

.nav-wrapper {
	padding: 0 2rem;
	font-weight: 500;
	/* position: fixed; 
	overflow: hidden; */
}

.brand-logo {
	font-style: italic;
	font-weight: bold;
}

.surveyForm {
	margin-top: 5vh;
}

label.labelText {
	font-size: 1.7rem;
	font-weight: bold;
	/* color: #050b17; */
}

input.surveyFormInput {
	margin-bottom: 5px;
	margin-top: 20px;
}

input.surveyFormInput:focus {
	background-color: lightblue;
}

p.reviewText {
	word-wrap: break-word;
}

#review-card-title {
	font-weight: 700;
	font-style: italic;
	font-family: ui-sans-serif;
}

.container {
	margin-top: 5vh;
}

div#surveylist {
	display: flex;
	justify-content: center;
}

div.survey-card{
	margin: 0;
	padding: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.survey-card .card-action{
	display: flex;
	justify-content: space-around;
	font-weight: bolder;
}

.survey-card .card-footer{
	border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
	background-color: rgba(10,9,10,.08);
    border-top: 3px solid rgba(0,0,0,.125);
}

.card-content .survey-title{
	text-transform: uppercase;
	text-align: center
}

.card-reveal{
	padding: 0;
}

.card-reveal .survey-subject{
	padding: .75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 2px solid rgba(0,0,0,.125);
	font-weight: 700;
}

.card-reveal .survey-body{
	padding: 1.25rem;
}

#header{
	background: #232c2f;
    width: 100vw;
    margin: 0;
    height: 20rem;
    color: #e6f1fb;
    padding: 3rem;
}

#header-title{
	font-size: 7rem;
    line-height: 110%;
	font-weight: 400;
	color: #cbd0c4e6;
}

#header-text{
	font-size: 2rem;
    line-height: 110%;
	font-weight: 400;
}

div.introduction{
	margin: 0;
	border: 1px solid black;
    border-radius: 20%;
    background: #ccdfee;
	color: #041819;
	width: 15%;
}

.tech-intro{
	display: flex;
	justify-content: space-between;
}